{% extends 'layout.html' %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
     {% csrf_token %}

    <label>Customer</label>
    {{form.customer}}

    <label>room</label>
    {{form.room}}
    <!--    <input type="text" id="password" name="password" />-->

    <input type="submit" value="submit"/>
</form>
<!--to active selected tab in sidebar-->
<script type="text/javascript">
    $(function () {
        $('.sidebar').find('.active').removeClass('active');
        $('#user').addClass('active');
    });
</script>
{% endblock %}